# build outputs
.zig-cache/
zig-out/

# sig outputs
/data/test-state
/data/fuzz-data
/gossip-dumps
/kcov-output
/kcov-merged
/results
/validator
/logs

# desktop app config
.DS_Store
.vscode/

# docs
