[Unit]
Description=Update sig weekly and on boot
After=network.target

[Timer]
OnBootSec=0
OnActiveSec=0
OnUnitActiveSec=1w

[Install]
WantedBy=timers.target
