[Unit]
Description=Run user-installed Sig as sig user with the provided arguments.
After=network.target

[Service]
EnvironmentFile=/etc/sig.conf
WorkingDirectory=/home/sig/sig
ExecStart=/home/sig/sig/ci/run-and-update-service/run.sh $CLI_ARGS
Restart=always
User=sig
Group=sig
LimitNOFILE=infinity
ExecStopPost=/home/sig/sig/ci/run-and-update-service/handle-exit.sh
MemoryAccounting=yes
MemoryMax=85%
TimeoutStopSec=30m

[Install]
WantedBy=multi-user.target
