# turn this file into a whitelist
*

# the files to include in git
!.gitignore
!10
!25
!genesis.bin
!incremental-snapshot-10-25-GXgKvm3NMAPgGdv2verVaNXmKTHQgfy2TAxLVEfAvdCS.tar
!incremental-snapshot-10-25-GXgKvm3NMAPgGdv2verVaNXmKTHQgfy2TAxLVEfAvdCS.tar.zst
!incremental-snapshot-1-4-43FT6mnmRW9XbxpCzqH3ogYexHXboG7d8vmf3gBLvLrR.tar.zst
!snapshot-1-5pgMpQj4MZYWauD1VnoNfmGAdUQCe6VVCSCQMNbDoxf7.tar.zst
!snapshot-10-6ExseAZAVJsAZjhimxHTR7N8p6VGXiDNdsajYh1ipjAD.tar.zst
!status_cache
!test_account_file
!shreds
!shreds/*
!blocks/*
