name: check

on:
  push:
    branches: [main, pre-release]
  pull_request:
    branches: [main, pre-release]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        
      - name: setup-zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - name: lint
        run: |
          zig fmt --check src/ build.zig

  check_style:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with: 
          python-version: "3.10"      

      - name: check style
        run: python scripts/style.py --check src

  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    timeout-minutes: 60
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: setup-zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - name: test
        run: zig build test -Denable-tsan=true

  kcov_test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    timeout-minutes: 60
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup-zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - name: Set up dependencies
        run: sudo apt-get update
        
      - name: install kcov
        run: |
          wget https://github.com/SimonKagstrom/kcov/releases/download/v42/kcov-amd64.tar.gz
          sudo tar xf kcov-amd64.tar.gz -C /

      - name: run kcov
        run: |
          bash scripts/kcov_test.sh

      - name: print coverage report
        run: |
          python scripts/parse_kcov.py kcov-output/test/coverage.json

  benchmarks:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    timeout-minutes: 60
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: setup zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - name: benchmarks 
        run: zig build -Doptimize=ReleaseSafe benchmark

  gossip:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    timeout-minutes: 60
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: setup-zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - name: build release 
        run: zig build -Doptimize=ReleaseSafe 
      - name: run gossip
        run: bash scripts/gossip_test.sh 120 # in seconds
