name: docs

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  publish:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
    
      - name: setup-pages
        uses: actions/configure-pages@v5
                 
      - name: setup-zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: build-docs
        run: zig build docs
      
      - name: upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'zig-out/docs'

      - name: deploy
        id: deployment
        uses: actions/deploy-pages@v4
    