name: test

on:
  push:
    branches: [main, pre-release]
  pull_request:
    branches: [main, pre-release]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup-zig
        uses: goto-bus-stop/setup-zig@v1
        with:
          version: 0.11.0

      - name: lint
        run: |
          zig fmt --check src/
          zig fmt --check build.zig

  build-unix:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{matrix.os}}

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: setup-zig
        uses: goto-bus-stop/setup-zig@v1
        with:
          version: 0.11.0

      - name: build
        run: zig build

      - name: test
        run: zig build test

  # build-windows:
  #   runs-on: windows-latest
  #   defaults:
  #     run:
  #       shell: bash

  #   steps:
  #     - name: setup-git
  #       run: |
  #         git config --global core.autocrlf false
  #         git config --global core.eol lf

  #     - name: checkout
  #       uses: actions/checkout@v2
  #       with:
  #         submodules: recursive

  #     - name: setup-zig
  #       uses: goto-bus-stop/setup-zig@v1
  #       with:
  #         version: master

  #     - name: build
  #       run: |
  #         zig build -Dtarget=x86_64-windows --prefix tmp
  #         zig build

  #     - name: test
  #       run: zig build test
